<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MUSCLER</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
    <%- include('header'); %>
    <main>
      <div class="article">
          <h1><%= article.title %></h1>
          <p><%= article.content %></p>
      </div>
    </main>
    <%- include('footer'); %> 
</body>
</html>