<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>MUSCLER</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
    <%- include('header'); %>
    <main>
        <p class="home-title">ニュース作成</p>
        <div class="create-form">
            <form action="/create" method="post">
                <p>タイトル</p>
                <input class="create-title" type="text" name="title">
                <p>要約</p>
                <textarea class="create-summary" type="text" name="summary"></textarea>
                <p>本文</p>
                <textarea class="create-content" type="text" name="content"></textarea>
                <a class="btn btn-home" href="/news">もどる</a>
                <input type="submit" class="btn" value="投稿する">
            </form>
        </div>
    </main>
    <%- include('footer'); %> 
</body>
</html>