<footer>
    <div class="footer-wrapper">
    <div class="footer-nav">
      <ul>
        <li><a class="btn" href="/news">ニュース</a></li>
        <li><a class="btn" href="/record">トレーニング記録</a></li>
        <li><a class="btn" href="/mypage">マイページ</a></li>
      </ul>
    </div>
    </div>
</footer>