<header>
    <div class="header-nav">
      <a href="/"><img class="header-img" src="/public/imgaes/muscler_logo.png" alt=""></a>
      <p>ようこそ、ゲスト<!--○○さん-->さん</p>
      <ul>
        <li><a href="/signup">新規登録</a></li>
        <li><a href="/login">ログイン</a></li>
      </ul>
    </div>
</header>