<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>MUSCLER</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
    <div class="top">
        <div class="wrapper">
            <div class="content">
                <h2>筋トレ記録・共有サイト</h2>
                <h1><img src="/public/imgaes/muscler_logo.png" alt=""></h1>
                <p>日々の筋トレを記録<br>効果的なトレーニングを共有しよう</p>
                <a class="btn" href="/news">はじめる</a>
            </div>
            <img class="image" src="/public/imgaes/top2.jpg" alt="">
        </div>
    </div>
</body>
</html>